# Provider: "openrouter" or "ollama"
PROVIDER=ollama
# Tune these parameters bases on model capabilities.
CHUNK_SIZE=20
MAX_TOKENS=8192

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-120b:exacto
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# Ollama (for local testing)
OLLAMA_MODEL=gpt-oss:20b
OLLAMA_BASE_URL=http://localhost:11434/v1

# App
DUMMY_API_URL=http://localhost:5001
